experiments/celeba/trainlogs
experiments/celeba/save
experiments/celeba/dataset

experiments/nyuv2/trainlogs
experiments/nyuv2/save
experiments/nyuv2/dataset

experiments/quantum_chemistry/trainlogs
experiments/quantum_chemistry/save
experiments/quantum_chemistry/dataset

experiments/cityscapes/trainlogs
experiments/cityscapes/save
experiments/cityscapes/dataset

mtl.egg-info
*.pyc
